.root {
  flex-shrink: 0;
  width: 100%;
  height: 3rem;
  background: var(--neutralLight);
  color: var(--black);
  user-select: none;
}

.title {
  padding-inline-start: 8px;
  padding-inline-end: 12px;
  color: inherit;
}

.titleLink {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}
