.root {
  --rootHeight: 8rem;
  --valueHeight: var(--rootHeight);
  --valueWidth: var(--rootHeight);
}

.root {
  height: var(--rootHeight);
  width: 100%;
  display: flex;
  align-items: center;
  background-color: inherit;
  color: inherit;
  user-select: none;
}

.container {
  flex: 1;
}

.container:not([tabindex='-1']) {
  cursor: pointer;
}

.container:not([tabindex='-1']):focus-visible {
  outline: 3px solid;
  outline-offset: -3px;
}

.value {
  box-sizing: border-box;
  height: var(--valueHeight);
  min-width: var(--valueWidth);
  padding: 12px;
}

.button {
  width: 72px;
  height: 72px;
  min-width: initial;
  padding: 0 12px;
  border: none;
  background: transparent;
}

.button:focus-visible {
  outline: 3px solid;
  outline-offset: -3px;
}

.icon {
  width: 44px;
  height: 44px;
}
