.root {
  height: 2.75rem;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.searchBox {
  flex: 1;
  border: 1px solid var(--neutralTertiaryAlt);
}

.searchBox:hover {
  border: 1px solid var(--neutralTertiaryAlt);
}
