.tileContainer {
  height: 100%;
  position: relative;
}

.placeholderContainer {
  height: 100%;
}

.tileDraggable {
  cursor: move;
}

.tileControls {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
}

.tileContainer:hover .tileControls,
.tileContainer:focus-within .tileControls {
  opacity: 1;
}

.isTileControlsVisible {
  opacity: 1;
}

.isTileControlsSelected {
  background: rgba(51, 51, 51, 0.2);
}

.tileControlButton {
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 6px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: initial;
}

.tileSelectToggle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.tileEditButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  color: #fff;
}

.tileEditButton:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
