.root {
  --border-size: 4px;
  --border-radius: 8px;

  width: 100%;
  height: 100%;
  padding: 6px;
  background: transparent;
  border-style: solid;
  border-color: var(--border-color, --background-color);
  border-width: var(--border-size);
  border-radius: var(--border-radius);
  display: flex;
  position: relative;
  font: inherit;
  color: color-contrast(var(--background-color vs white, black));
  background-color: var(--background-color, transparent);
  outline: 0;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 20%) 0 2px 8px 0;
}

.root[type='button']:disabled {
  opacity: 0.3;
}

.root[type='button']:not(:disabled) {
  cursor: pointer;
}

.root[type='button']:focus-visible {
  outline: var(--black) solid 3px;
  outline-offset: 3px;
}

.root[type='button']::after {
  content: '';
  position: absolute;
  border-radius: var(--border-radius);
  top: calc(var(--border-size) * -1);
  left: calc(var(--border-size) * -1);
  right: calc(var(--border-size) * -1);
  bottom: calc(var(--border-size) * -1);
  background: transparent;
}

.root[type='button']:not(:disabled):hover::after {
  background: rgba(0, 0, 0, 0.2);
}

.isFolder::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid #000;
  transform-origin: center right;
  transform: translateY(-1rem) rotate(-45deg);
  z-index: 1;
}
