.root {
  width: 100%;
  height: 44px;
  min-height: 44px;
  display: flex;
}

.startGroup,
.middleGroup,
.endGroup {
  display: flex;
  align-items: stretch;
}

.startGroup {
  justify-content: flex-start;
  flex: 1;
}

@media print {
  .startGroup,
  .endGroup {
    opacity: 0;
  }

  .middleGroup {
    color: #000;
  }
}

.middleGroup {
  padding: 0 12px;
  justify-content: center;
  min-width: 0;
}

.middleGroup:empty {
  padding: 0;
}

.endGroup {
  justify-content: flex-end;
  flex: 1;
}
