.root {
  display: flex;
  flex-wrap: wrap;
}

.button {
  width: 24px;
  height: 24px;
  margin: 6px;
  border: 3px solid;
  border-color: var(--border-color);
  background-color: var(--background-color);
  outline: none;
  transition: 0.1s linear;
}

.button:hover,
.button:focus {
  transform: scale(1.15);
}

.isSelected {
  transform: scale(1.25);
}
