.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.outputWrapper {
  background-color: var(--neutralLighterAlt);
  color: var(--black);
}

.output {
  flex-shrink: 0;
}

.outputTextValue {
  font-size: 4rem;
  white-space: nowrap;
}

.safeAreaInsetX {
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}

.navBarWrapper {
  background-color: var(--neutralLighterAlt);
}

.boardWrapper {
  height: 100%;
}

.smallScreenBar {
  height: 48px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smallScreenBottomBar {
  padding-bottom: env(safe-area-inset-bottom);
  background-color: var(--neutralLighterAlt);
}

.outputActionButton {
  align-self: center;
  margin-inline-end: 16px;
}
