.root {
  height: 100%;

  --bar-height: 2.75rem;
}

.filterBar {
  height: var(--bar-height);
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.filterBox {
  flex: 1;
  background-color: var(--neutralLighter);
  border: 1px solid var(--neutralTertiaryAlt);
}

.filterBox:hover {
  border: 1px solid var(--neutralTertiaryAlt);
}

.container {
  /* TODO: fix hard-coded 104px */
  max-height: calc(100% - 104px);
  overflow-y: auto;
}

@media (hover) {
  .row:not(:hover) .rowActions {
    display: none;
  }
}

.checkboxCell {
  display: flex;
  align-items: center;
}
